@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

<div class="container">
    @{ 
        Html.RenderAction("RenderForum", "ForumSurface");
    }
</div>