<html>
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript">
        //Defining a Angular module
        var myApp = angular.module('myApp', []);

        //Defining a Angular Controller
        myApp.controller('MyCtrl', ['$scope', '$http', function ($scope, $http) {

            //Retrieving the List of people
            GetForums();
            //Displaying the Save button
            $scope.DisplaySave = true;

            function GetForums() {
                //Defining the $http service for getting the forum
                $http({
                    method: 'GET',
                    url: '/umbraco/backoffice/api/forum/get'
                }).
                    success(function (data) {
                        if (data != null || data != 'undefined') {
                            //Assigning forum data to the $scope variable
                            $scope.forums = data;
                            //Clearing the forum object in create contextd
                            $scope.newforum = {
                                ForumId: ''
                            };
                        }
                    })
                    .error(function (error) {
                        //Showing error message
                        $scope.status = 'Unable to retrieve forums: ' + error.message;
                    });
            }

            //Create new forum
            $scope.createForum = function () {
                $http({
                    method: 'POST',
                    url: '/umbraco/backoffice/api/forum/post',
                    data: JSON.stringify($scope.newforum),
                    headers: { 'Content-Type': 'application/JSON' }
                }).
                    success(function (data) {
                        //Showing success message
                        $scope.status = "The Forum Saved Successfully!!!";
                        //Updating forums Model
                        GetForums();
                    })
                    .error(function (error) {
                        //Showing error message
                        $scope.status = 'Unable to create a forum: ' + error.message;
                    });
            }


            //Update forum
            $scope.updateForum = function () {
                $http({
                    method: 'PUT',
                    url: 'umbraco/backoffice/api/forum/put',
                    data: JSON.stringify($scope.newperson),
                    headers: { 'Content-Type': 'application/JSON' }
                }).
                    success(function (data) {
                        //Showing Success message
                        $scope.status = "The Forum Updated Successfully!!!";
                        //Loading people to the $scope
                        GetPersons();
                        //Displaying save button
                        $scope.DisplaySave = true;
                        //Hiding Update button
                        $scope.DisplayUpdate = false;
                    })
                    .error(function (error) {
                        //Showing error message
                        $scope.status = 'Unable to update forum: ' + error.message;
                    });
            }

            //Delete forum
            $scope.deleteForum = function (pId) {
                $http({
                    method: 'DELETE',
                    url: '/umbraco/backoffice/api/forum/delete' + pId
                }).
                    success(function (data) {
                        //Showing Success message
                        $scope.status = "The Forum Deleted Successfully!!!";
                        //Loading people to the $scope
                        GetPersons();
                    })
                    .error(function (error) {
                        //Showing error message
                        $scope.status = 'Unable to delete forum: ' + error.message;
                    });
            }

        }]);
    </script>
</head>
<body>
    <div data-ng-app="myApp" style="padding: 25px;">
        <div data-ng-controller="MyCtrl">
            <form>
                <table>
                    <tr>
                        <td><b>Name</b></td>
                        <td><b>Date</b></td>
                        <td><b>Created by</b></td>
                    </tr>
                    <tr ng-repeat-start="forum in forums">
                        <td>{{forum.ForumName}}</td>
                    </tr>
                    <tr ng-repeat-end>
                        <td>{{forum.ForumDate}}</td>
                    </tr>
                </table>

                <h2>Make a new forum</h2>
                <input type="hidden" data-ng-model="newforum.Id" />
                <b>Name:</b>
                <input type="text" name="Name" id="Name" data-ng-model="newforum.ForumName" placeholder="Name" required />
                <br /><br />
                <b>Date:</b>
                <input type="text" name="Date" id="Date" data-ng-model="newforum.ForumDate" placeholder="Date" required />
                <br />
                <br />
                <input type="button" value="Save" data-ng-show="DisplaySave" data-ng-click="createForum()" />
                <br />
                <p>{{status}}</p>
            </form>
        </div>
    </div>
</body>
</html>