<html>
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript">
        //Defining a Angular module
        var myApp = angular.module('myApp', []);

        //Defining a Angular Controller
        myApp.controller('MyCtrl', ['$scope', '$http', function ($scope, $http) {

            //Retrieving the List of Forums
            GetForums();
            //Displaying the Save button
            $scope.DisplaySave = true;

            function GetForums() {
                //Defining the $http service for getting the forum
                $http({
                    method: 'GET',
                    url: '/umbraco/backoffice/api/forum/get'
                }).
                    success(function (data) {
                        if (data != null || data != 'undefined') {
                            //Assigning forum data to the $scope variable
                            $scope.forums = data;
                            //Clearing the forum object in create context
                            $scope.newforum = {
                                ForumId: ''
                            };
                        }
                    })
                    .error(function (error) {
                        //Showing error message
                        $scope.status = 'Unable to retrieve forums: ' + error.message;
                    });
            }

            //Create new forum
            $scope.createForum = function () {
                $http({
                    method: 'POST',
                    url: '/umbraco/backoffice/api/forum/post',
                    data: JSON.stringify($scope.newforum),
                    headers: { 'Content-Type': 'application/JSON' }
                }).
                    success(function (data) {
                        //Showing success message
                        $scope.status = "The Forum Saved Successfully!!!";
                        //Updating forums Model
                        GetForums();
                    })
                    .error(function (error) {
                        //Showing error message
                        $scope.status = 'Unable to create a forum: ' + error.message;
                    });
            }

            //Edit a forum
            $scope.editForum = function (pId) {
                for (i in $scope.forums) {
                    //Getting the forum details from scope based on id
                    if ($scope.forums[i].ForumId == pId) {
                        //Assigning the Create user scope variable for editing
                        $scope.newforum = {
                            ForumId: $scope.forums[i].ForumId,
                            ForumName: $scope.forums[i].ForumName
                        };
                        //Hiding Save button
                        $scope.DisplaySave = false;
                        //Displaying Update button
                        $scope.DisplayUpdate = true;
                        //Clearing the Status
                        $scope.status = '';
                    }
                }
            }

            //Update a forum
            $scope.updateForum = function () {
                //Defining $http service for updating a forum
                $http({
                    method: 'PUT',
                    url: 'umbraco/backoffice/api/forum/put',
                    data: JSON.stringify($scope.newforum),
                    headers: { 'Content-Type': 'application/JSON' }
                }).
                    success(function (data) {
                        //Showing Success message
                        $scope.status = "The Forum Updated Successfully!!!";
                        //Loading people to the $scope
                        GetForums();
                        //Displaying save button
                        $scope.DisplaySave = true;
                        //Hiding Update button
                        $scope.DisplayUpdate = false;
                    })
                    .error(function (error) {
                        //Showing error message
                        $scope.status = 'Unable to update the forum: ' + error.message;
                    });
            }

            //Delete forum
            $scope.deleteForum = function (pId) {
                $http({
                    method: 'DELETE',
                    url: '/umbraco/backoffice/api/forum/delete/' + pId,
                }).
                    success(function (data) {
                        //Showing Success message
                        $scope.status = "The Forum Deleted Successfully!!!";
                        //Loading Forum to the $scope
                        GetForums();
                    })
                    .error(function (error) {
                        //Showing error message
                        $scope.status = 'Unable to delete forum: ' + error.message;
                    });
            }
        }]);
    </script>
</head>
<body>
    <div data-ng-app="myApp">
        <div data-ng-controller="MyCtrl">
            <form>
                <h2>All forums</h2>
                <table cellpadding="5">
                    <tr>
                        <td><b>Name</b></td>
                        <td><b>Action</b></td>
                    </tr>
                    <tr data-ng-repeat="forum in forums">
                        <td>{{forum.ForumName}}</td>
                        <td>
                            <a href="" data-ng-click="editForum(forum.ForumId)">Edit</a> |
                            <a href="" data-ng-click="deleteForum(forum.ForumId)">Delete</a>
                        </td>
                    </tr>
                </table>
                <br />
                <br />

                <h2>Create Forum</h2>
                <input type="hidden" data-ng-model="newforum.ForumId" />
                <b>Name:</b>
                <input type="text" name="Name" id="Name" data-ng-model="newforum.ForumName" placeholder="Name" required />
                <br />
                <br />
                <input type="button" value="Save" data-ng-show="DisplaySave" data-ng-click="createForum()" />
                <input type="button" value="Update" data-ng-show="DisplayUpdate" data-ng-click="updateForum()" />
                <br />
                <br />
                <p>{{status}}</p>
            </form>
        </div>
    </div>
</body>
</html>