@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @{
//var db = Database.Open("SmallBakery");
//var selectQueryString = "SELECT * FROM Product ORDER BY Name";
        }
    </div>
</body>
</html>
